<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
<!--        <link th:fragment="css" rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">-->
    <link th:fragment="css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<th:block th:fragment="listTest">
    <H3>Список тестов</H3><br>
    <th:block th:each="el : ${allForms}">
        <div>
            <b><a th:block th:text="${el.name}" th:href="'/TakeTest/'+${el.id}"></a></b>
            <div th:text="${el.description}"></div>
            <div> На время:
                <th:block th:if="${el.isForTime} == true">Да</th:block>
                <th:block th:if="${el.isForTime} == false">Нет</th:block>
            </div>
        </div>
    </th:block>
</th:block>
<th:block th:fragment="questionsByFormId">
    <ol th:unless="${questionsByFormId.empty}">
        <th:block th:each="el : ${questionsByFormId}">
            <li th:text="${el.question}"></li>
            <div> | <a href="#">Редактировать</a> | <a th:href="'/deleteQuestion/'+${el.id}">Удалить</a></div>
        </th:block>
    </ol>
</th:block>
<th:block th:fragment="questionsList">
    <ol>
        <th:block th:each="qstList : ${questionsList}">
            <li th:text="${qstList.question}"></li>
            <th:block th:each="fm : ${formList}">
          <span th:if="${#strings.equals(fm.id, qstList.idForm)}">
           <b th:text="${fm.name}"></b>
        </span>
                <span th:text="${fm.name}"></span> | fm.id <span th:text="${fm.id}"></span> | idForm <span
                    th:text="${qstList.idForm}"></span>
            </th:block>
            <th:block> | <a href="#">Редактировать</a> | <a th:href="'/deleteQuestion/'+${qstList.id}">Удалить</a>
            </th:block>
        </th:block>
    </ol>
</th:block>

<th:block th:fragment="answersList">
    <ol>
        <th:block th:each="anList : ${answerList}">
            <th:block th:each="qstList : ${questionsList}">
                <li th:text="${qstList.question}"></li>
                <th:block th:each="fm : ${formList}">
          <span th:if="${#strings.equals(qstList.idForm, anList.idQuestion)}">
           <b th:text="${qstList.question}"></b>
        </span>
                    <span th:text="${fm.name}"></span> | fm.id <span th:text="${fm.id}"></span> | idForm <span
                        th:text="${qstList.idForm}"></span>
                </th:block>
                <th:block> | <a href="#">Редактировать</a> | <a th:href="'/deleteQuestion/'+${qstList.id}">Удалить</a>
                </th:block>
            </th:block>
        </th:block>
    </ol>
</th:block>
<th:block th:fragment="mapForms">
    <div class="card mb-2">
        <div class="card-body">
            <h3 class="card-title">Список тестов</h3>
            <ol th:unless="${fmsList.empty}">
                <th:block th:each="fmsList : ${fmsList}">
                    <li>
                        <div th:text="${fmsList.name}" class="font-weight-bold"></div>
                        <div class="card-text" th:text="${fmsList.description}"></div>
                        <a class="card-link" th:href="@{'/dashboard/eForm/'+${fmsList.id}}">Редактировать</a>
                        <a class="card-link" th:href="@{'/dashboard/deleteForm/'+${fmsList.id}}">Удалить</a>
                    </li>
                    <ol th:unless="${qstList.empty}">
                        <div class="font-weight-bold">Вопросы:</div>
                        <th:block th:each="qstList : ${qstList}">
                            <th:block th:if="${#strings.equals(fmsList.id, qstList.idForm)}">
                                <li>
                                    <th:block th:text="${qstList.question}"></th:block>
                                </li>
                                <ol th:unless="${ansList.empty}">
                                    <div class="font-weight-bold">Ответы:</div>
                                    <th:block th:each="ansList : ${ansList}">
                                        <th:block
                                                th:if="${#strings.equals(ansList.idQuestion, qstList.id) && #strings.equals(fmsList.id, qstList.idForm)}">
                                            <li>
                                                <th:block th:text="${ansList.answer}"></th:block>
                                                |
                                                <th:block th:if="${ansList.isTrue == true}">
                                                    (Верный ответ)
                                                </th:block>
                                                <th:block th:if="${ansList.isTrue == false}">
                                                    (Неверный ответ)
                                                </th:block>
                                            </li>
                                        </th:block>
                                    </th:block>
                                </ol>
                            </th:block>
                        </th:block>
                    </ol>
                </th:block>
            </ol>
        </div>
    </div>
</th:block>
</body>
</html>