<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
    <link th:fragment="css" rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->
<div th:fragment="top">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary py-0 px-2 mb-2">
        <a class="navbar-brand text-white" href="/">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <th:block sec:authorize="!isAuthenticated()">
                        <a class="nav-link text-white" href="/login">Панель управления</a>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <a class="nav-link text-white " href="/dashboard/">Панель управления</a>
                    </th:block>
                </li>
                <li class="nav-item">
                    <th:block sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a class="nav-link" th:text="Выйти" th:href="'/logout'"></a>
                    </th:block>
                </li>
            </ul>
        </div>
        <th:block sec:authorize="!isAuthenticated()">
            <div class="mt-2 p-2 mb-2 border text-white">Пользователь:
                <th:block th:text="${userName}"></th:block>
            </div>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <div class="mt-2 p-2 mb-2  bg-success border text-white">Администратор:
                <th:block sec:authentication="name"></th:block>
            </div>
        </th:block>
    </nav>
    <th:block th:if="${userName == 'Гость'}">
        <th:block sec:authorize="!isAuthenticated()">
            <form class="form-inline" method="post" th:action="@{'/addUser'}">
                <table style="width: 60rem;" class="table mb-3">
                    <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control sm-7 is-invalid mb-2 mr-sm-2" id="nameInput"
                                   name="user" placeholder="Введите свою Фамилию и Имя" required>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary mb-2">ОК</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </th:block>
    </th:block>
</div>
<th:block th:fragment="listTest">
    <H3 class="pt-3">Список тестов по математике</H3><br>
    <th:block th:each="el : ${allForms}">
        <div class="card mb-4" style="width: 60rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <th:block th:text="${el.name}"></th:block>
                </h5>
                <div class="card-text" th:text="${el.description}"></div>
                <!--      <div> На время:-->
                <!--        <th:block th:if="${el.isForTime} == true">Да</th:block>-->
                <!--        <th:block th:if="${el.isForTime} == false">Нет</th:block>-->
                <!--      </div>-->
                <a class="card-link" th:href="@{'/takeTest/'+${el.id}}">Пройти тест</a>
            </div>
        </div>
    </th:block>
</th:block>
<div th:fragment="questionsByFormId">
    <ol>
        <div th:each="el : ${questionsByFormId}">
            <li th:text="${el.question}"></li>
            <div> | <a href="#">Редактировать</a> | <a th:href="'/takeTest/'+${el.id}">Удалить</a></div>
        </div>
    </ol>
</div>
<div th:fragment="questionsList">
    <ol>
        <div th:each="qstList : ${questionsList}">
            <li th:text="${qstList.question}"></li>
            <div th:each="fm : ${formList}">
          <span th:if="${#strings.equals(fm.id, qstList.idForm)}">
           <b th:text="${fm.name}"></b>
        </span>
                <span th:text="${fm.name}"></span> | fm.id <span th:text="${fm.id}"></span> | idForm <span
                    th:text="${qstList.idForm}"></span>
            </div>
            <div> | <a href="#">Редактировать</a> | <a th:href="'/deleteQuestion/'+${qstList.id}">Удалить</a></div>
        </div>
    </ol>
</div>
</body>
</html>