<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <script src="/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link th:fragment="css" rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="top">
  <a class="navbar-link" href="/">Главная</a> | <th:block sec:authorize="!isAuthenticated()">
    <a class="navbar-link" href="/login">Панель управления</a></th:block>
  <th:block sec:authorize="isAuthenticated()"><a class="navbar-link" href="/dashboard/">Панель управления</a></th:block> |
  <th:block sec:authorize="hasAnyRole('ROLE_ADMIN')">
  <a class="navbar-link" th:text="Выйти" th:href="'/logout'"></a>
</th:block>

  <th:block sec:authorize="!isAuthenticated()"><h5>Добро пожаловать <th:block th:text="${userName}"></th:block>!</h5></th:block>
  <th:block sec:authorize="isAuthenticated()"><h5>Добро пожаловать <th:block sec:authentication="name"></th:block>!</h5></th:block>
  <th:block th:if="${userName == 'Гость'}">
    <th:block sec:authorize="!isAuthenticated()">
    <form method="post" th:action="@{'/addUser'}">
      <div>
        <label>Введите свою Фамилию и Имя</label>
        <input type="text" name="user" required>
      </div>
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      <div>
        <input type="submit" value="ОК">
      </div>
    </form>
    </th:block>
  </th:block>
</div>
<th:block th:fragment="listTest">
  <H3>Список тестов</H3><br>
  <th:block th:each="el : ${allForms}">
    <div>
      <b><th:block th:text="${el.name}"></th:block></b>
        <a th:href="@{'/takeTest/'+${el.id}}">Пройти тест</a>
      <div th:text="${el.description}"></div>
      <div> На время:
        <th:block th:if="${el.isForTime} == true">Да</th:block>
        <th:block th:if="${el.isForTime} == false">Нет</th:block>
      </div>
    </div>
  </th:block>
</th:block>
<div th:fragment = "questionsByFormId">
  <ol>
    <div th:each="el : ${questionsByFormId}">
    <li th:text="${el.question}"></li><div> | <a href="#">Редактировать</a> | <a th:href="'/takeTest/'+${el.id}">Удалить</a> </div>
    </div>
  </ol>
</div>
<div th:fragment="questionsList">
  <ol>
    <div th:each="qstList : ${questionsList}">
      <li th:text="${qstList.question}"></li>
      <div th:each="fm : ${formList}">
          <span th:if="${#strings.equals(fm.id, qstList.idForm)}">
           <b th:text="${fm.name}"></b>
        </span>
        <span th:text="${fm.name}"></span> | fm.id <span th:text="${fm.id}"></span> | idForm <span th:text="${qstList.idForm}"></span>
      </div>
      <div> | <a href="#">Редактировать</a> | <a th:href="'/deleteQuestion/'+${qstList.id}">Удалить</a></div>
    </div>
  </ol>
</div>
</body>
</html>