<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <script src="/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link th:fragment="css" rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="top">
  <a href="/">Главная</a> | <th:block sec:authorize="!isAuthenticated()"><a href="/login">Войти</a></th:block>
  <th:block sec:authorize="isAuthenticated()"><a href="/dashboard/">Панель управления</a></th:block> |
  <th:block sec:authorize="hasAnyRole('ROLE_ADMIN')">
  <a th:text="Выйти" th:href="'/logout'"></a>
</th:block>
  <H6>Добро пожаловать <th:block th:text="${userName}"></th:block>!</H6>
  <th:block th:if="${userName == 'Гость'}">
    <form method="post" th:action="@{'/addUser'}">

      <div>
        <label>Введите свою Фамилию и Имя</label>
        <input type="text" name="user" required>
      </div>
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
      <div>
        <input type="submit" value="ОК">
      </div>
    </form>
  </th:block>
</div>
<th:block th:fragment="listTest">
  <H3>Список тестов</H3><br>
  <th:block th:each="el : ${allForms}">
    <div>
      <b><th:block th:text="${el.name}"></th:block></b>
<!--      <div th:each="countQst : ${countQst}">-->
        <a th:href="@{'/takeTest/'+${el.id}}">Пройти тест</a>
<!--      </div>-->
      <div th:text="${el.description}"></div>
      <div> На время:
        <th:block th:if="${el.isForTime} == true">Да</th:block>
        <th:block th:if="${el.isForTime} == false">Нет</th:block>
      </div>
    </div>
  </th:block>
</th:block>

<!--<div th:fragment = "listTest">-->
<!--  <p>Список тестов</p><br>-->
<!--  <table border="1" style="border-collapse: collapse; width: 25%;">-->
<!--    <tbody th:each="el : ${allForms}">-->
<!--    <tr>-->
<!--    <tr>-->
<!--      <td style="width: 50%;">Наименование</td>-->
<!--      <td style="width: 50%;"><div th:text="${el.name}"></div></td>-->
<!--    </tr>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td style="width: 50%;">Описание</td>-->
<!--      <td style="width: 50%;"><div th:text="${el.description}"></div></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td style="width: 50%;">На время</td>-->
<!--      <td style="width: 50%;">-->
<!--        <div th:if="${el.isForTime} == true">Да</div>-->
<!--        <div th:if="${el.isForTime} == false">Нет</div>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr style="height: 18px;">-->
<!--      <td style="width: 25%; height: 18px;" colspan="4"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td colspan="4" style="text-align: center;">-->
<!--        <a th:href="'/takeTest/'+${el.id}">Редактировать</a> |-->
<!--        <a th:href="'/delete/'+${el.id}">Удалить</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td colspan="4"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
<div th:fragment = "questionsByFormId">
  <ol>
    <div th:each="el : ${questionsByFormId}">
    <li th:text="${el.question}"></li><div> | <a href="#">Редактировать</a> | <a th:href="'/takeTest/'+${el.id}">Удалить</a> </div>
    </div>
  </ol>
</div>
<div th:fragment="questionsList">
  <ol>
    <div th:each="qstList : ${questionsList}">
      <li th:text="${qstList.question}"></li>
      <div th:each="fm : ${formList}">
          <span th:if="${#strings.equals(fm.id, qstList.idForm)}">
           <b th:text="${fm.name}"></b>
        </span>
        <span th:text="${fm.name}"></span> | fm.id <span th:text="${fm.id}"></span> | idForm <span th:text="${qstList.idForm}"></span>
      </div>
      <div> | <a href="#">Редактировать</a> | <a th:href="'/deleteQuestion/'+${qstList.id}">Удалить</a></div>
    </div>
  </ol>
</div>

</body>
</html>