<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link th:insert="~{components/include :: css}">
    <title>Редактор теста по математике</title>
</head>
<body>
<th:block th:insert="~{components/include :: scripts}"></th:block>
<div class="container">
    <th:block th:insert="~{components/include :: top}"></th:block>
    <H4>Редактор теста по математике</H4>
    <th:block th:each="el : ${editFormId}">
        <div class="card mb-4">
            <div class="card-body">
                <fieldset>
                    <legend class="card-title">Редактирование наименования и описания теста</legend>
                    <form method="post" th:action="@{'/dashboard/updateForm/' + ${el.id}}"
                          enctype="multipart/form-data">
                        <div class="form-group row mb-4">
                            <label class="col-sm-2 col-form-label">Наименование</label>
                            <div class="col-sm-7">
                                <input class="form-control" th:value="${el.name}" type="text" name="name" required>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-sm-2 col-form-label">Описание</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" th:text="${el.description}" name="description"
                                          type="text" rows="6" required></textarea>
                            </div>
                            <div th:unless="${el.image.empty}" class="align-top"
                                 style="float: right; width: 110px; height: 156px;">
                                <img th:src="@{'/images/'+${el.image}}" th:alt="${el.image}" height="156px"
                                     class="rounded float-right">
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-sm-2 col-form-label">Выбор изображения</label>
                            <div class="col-sm-7">
                                <input type="file" name="image" class="custom-file-input">
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <legend class="col-form-label col-sm-2 pt-0">Удалить изображение</legend>
                            <div class="col-sm-7">
                                <input class="form-check-input" type="radio" name="del" value="on">
                                <label class="form-check-label">Да</label>
                                <input class="form-check-input" type="radio" name="del" value="off" checked="checked">
                                <label class="form-check-label">Нет</label>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <legend class="col-form-label col-sm-2 pt-0">На время</legend>
                            <div class="col-sm-7">
                                <input id="on" class="form-check-input" type="radio" name="time" value="on"
                                       th:checked="(${el.isForTime == true})">
                                <label class="form-check-label" for="on">Да</label>
                                <input id="off" class="form-check-input" type="radio" name="time" value="off"
                                       th:checked="(${el.isForTime == false})">
                                <label class="form-check-label" for="off">Нет</label>
                            </div>
                        </div>
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">Соханить название и описание</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <fieldset>
                    <legend class="card-title">Добавить вопрос к тесту &laquo;<th:block
                            th:text="${editFormId.name}"></th:block>&raquo;
                    </legend>
                    <form method="post" th:action="@{'/dashboard/addQuestions/' + ${editFormId.id}}"
                          enctype="multipart/form-data">
                        <div class="form-group row mb-4">
                            <label class="col-sm-2 col-form-label">Вопрос</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" name="question" type="text" rows="6" required></textarea>
                                <input type="hidden" name="idForm" th:value="${editFormId.id}">
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-sm-2 col-form-label">Выбор изображения</label>
                            <div class="col-sm-7">
                                <input type="file" name="image" class="custom-file-input">
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">Добавить</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <fieldset>
                    <legend class="card-title">Вопросы:</legend>
                    <ol th:unless="${questionsByFormId.empty}">
                        <li th:each="questionsByFormId : ${questionsByFormId}">
                            <th:block th:text="${questionsByFormId.question}"></th:block>
                            <div th:unless="${questionsByFormId.image.empty}">
                                <img th:src="@{'/images/'+${questionsByFormId.image}}"
                                     th:alt="${questionsByFormId.image}" width="80px"
                                     class="rounded float-left pt-3 mb-0">
                            </div>
                            <div>
                                <a class="card-link"
                                   th:href="@{'/dashboard/eQuestion/'+${editFormId.id}+'/'+${questionsByFormId.id}}">Редактировать</a>
                                <a class="card-link" th:href="@{'/dashboard/deleteQuestion/'+${questionsByFormId.id}}">Удалить</a>
                            </div>
                        </li>
                    </ol>
                </fieldset>
            </div>
        </div>
    </th:block>
    <th:block th:insert="~{components/include :: bottom}"></th:block>
</div>
</body>
</html>