<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link th:insert="~{components/include :: css}">
    <title>Редактор теста по математике</title>
</head>
<body>
<th:block th:insert="~{components/include :: scripts}"></th:block>
<div class="container">
    <th:block th:insert="~{components/include :: top}"></th:block>
    <H3>Редактор вопроса к тесту по математике</H3>
    <th:block th:each="qstListId : ${qstListId}">
        <ul class="nav nav-pills nav-fill mb-4">
            <li class="nav-item">
                <div class="col-sm-5">
                    <a class="nav-link active" th:href="@{'/dashboard/eForm/'+${qstListId.idForm}}"><<< Вернуться к
                        редактированию теста <<<</a>
                </div>
            </li>
        </ul>
        <div class="card mb-4">
            <div class="card-body">
                <fieldset>
                    <legend class="card-title">Редактирование вопроса &laquo;<th:block th:text="${qstListId.question}"></th:block>&raquo; к тесту по математике &laquo;<th:block th:each="fmsListId : ${fmsListId}" th:text="${fmsListId.name}"></th:block>&raquo;</legend>
                    <form method="post" th:action="@{'/dashboard/updateQuestion/' + ${qstListId.idForm}+'/'+${qstListId.id}}" enctype="multipart/form-data">
                        <div class="form-group row mb-4">
                            <label class="col-sm-2 col-form-label">Вопрос</label>
                            <div class="col-sm-7">
                        <textarea class="form-control" th:text="${qstListId.question}" name="question" type="text" rows="6" required></textarea>
                            </div>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            <div th:unless="${qstListId.image.empty}" class="align-top" style="width: 250px; height: 156px;">
                                <img th:src="@{'/images/'+${qstListId.image}}" th:alt="${qstListId.image}"  height="100px" class="rounded float-left">
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <label class="col-sm-2 col-form-label">Выбор изображения</label>
                            <div class="col-sm">
                                <input type="file" name="image" class="form-control-file">
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <legend class="col-form-label col-sm-2 pt-0 pr-0">Удалить изображение</legend>
                            <div class="col-sm-9">
                                <input class="form-check-input ml-0" type="radio" name="del" value="on">
                                <label class="form-check-label ml-3">Да</label>
                                <input class="form-check-input ml-1" type="radio" name="del" value="off" checked="checked">
                                <label class="form-check-label ml-4">Нет</label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">Изменить</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <fieldset>
                    <legend class="card-title">Добавить ответ к вопросу &laquo;<th:block th:text="${qstListId.question}"></th:block>&raquo;</legend>
                    <form method="post" th:action="@{'/dashboard/addAnswer'}">
                        <input type="hidden" name="idForm" th:value="${qstListId.idForm}">
                        <input type="hidden" name="idQuestion" th:value="${qstListId.id}">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                        <div class="form-group row mb-4">
                            <label class="col-sm-2 col-form-label">Ответ</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" name="answer" type="text" rows="6" required></textarea>
                            </div>
                        </div>
                        <div class="form-group row mb-4">
                            <legend class="col-form-label col-sm-2 pt-0">Правильный ответ</legend>

                            <div class="col-sm-7">
                                <input class="form-check-input ml-0" type="radio" name="isTrue" value="true">
                                <label class="ml-3">Да</label>
                                <input class="form-check-input ml-1" type="radio" name="isTrue" value="false" checked>
                                <label class="ml-4">Нет</label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary mb-2">Добавить</button>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <fieldset>
                    <legend class="card-title">Ответы:</legend>
                    <ol th:unless="${ansListByQuestionId.empty}">
                        <li th:each="ansListByQuestionId : ${ansListByQuestionId}">
                            <form method="post"
                                  th:action="@{'/dashboard/updateAnswer/' + ${ansListByQuestionId.idForm} + '/' + ${ansListByQuestionId.id}}">
                                <div class="form-group row mb-4">
                                    <label class="col-sm-2 col-form-label">Ответ</label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" th:text="${ansListByQuestionId.answer}" name="answer" type="text" rows="6" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group row mb-4">
                                    <legend class="col-form-label col-sm-2 pt-0">Правильный ответ</legend>
                                    <div class="col-sm-7">
                                        <input type="radio" class="form-check-input ml-0" name="isTrue" value="on" th:checked="(${ansListByQuestionId.isTrue == true})">
                                        <label class="ml-3">Да</label>
                                        <input type="radio" class="form-check-input ml-1" name="isTrue" value="off" th:checked="(${ansListByQuestionId.isTrue == false})">
                                        <label class="ml-4">Нет</label>
                                    </div>
                                </div>
                                <input type="hidden" name="idQuestion" th:value="${ansListByQuestionId.idQuestion}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                <div>
                                    <button type="submit" class="btn btn-primary mb-2">Изменить</button>
                                </div>
                            </form>
                            <a class="card-link" th:href="@{'/dashboard/deleteAnswer/'+${ansListByQuestionId.id}}">Удалить</a>
                        </li>
                    </ol>
                </fieldset>
            </div>
        </div>
    </th:block>
    <th:block th:insert="~{components/include :: bottom}"></th:block>
</div>
</body>
</html>