<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <title>Редактор теста по физике</title>
</head>
<body>
<div th:insert="~{dashboard/fragments/include :: top}"></div>
<H1>Панель управления / Редактор вопроса к тесту по физике</H1>
<th:block th:each="qstListId : ${qstListId}">
    <a th:href="@{'/dashboard/eForm/'+${qstListId.idForm}}"><< Вернуться к редактированию теста</a> |
    <th:block th:insert="~{dashboard/fragments/include :: linksAddForms}"></th:block>
    <fieldset>
        <legend>Редактирование вопроса "<th:block th:text="${qstListId.question}"></th:block>" к тесту по физике "
            <th:block th:each="fmsListId : ${fmsListId}" th:text="${fmsListId.name}"></th:block>"
        </legend>
        <form method="post" th:action="@{'/dashboard/updateQuestion/' + ${qstListId.idForm}+'/'+${qstListId.id}}">
            <textarea th:text="${qstListId.question}" name="question" type="text" rows="5" required></textarea>
            <div>
                <input type="submit" value="Изменить">
            </div>
        </form>
    </fieldset>
    <fieldset>
        <legend>Добавить ответ к вопросу "<th:block th:text="${qstListId.question}"></th:block>"
        </legend>
        <form method="post" action="/dashboard/addAnswer">
            <input type="hidden" name="idForm" th:value="${qstListId.idForm}">
            <input type="hidden" name="idQuestion" th:value="${qstListId.id}">
            <div>
                <label>Ответ</label>
                <textarea name="answer" type="text" rows="5" required></textarea>
            </div>
            <div>
                <span>Правильный ответ</span>
                <label>
                    <input type="radio" name="isTrue" value="true">Да
                </label>
                <label>
                    <input type="radio" name="isTrue" value="false" checked>Нет
                </label>
            </div>
            <div>
                <input type="submit" value="Добавить">
            </div>
        </form>
    </fieldset>
    <fieldset>
        <legend>Ответы:</legend>
        <ol th:unless="${ansListByQuestionId.empty}">
            <li th:each="ansListByQuestionId : ${ansListByQuestionId}">
                <form method="post"
                      th:action="@{'/dashboard/updateAnswer/' + ${ansListByQuestionId.idForm} + '/' + ${ansListByQuestionId.id}}">
                    <div>
                        <label>Ответ</label>
                        <textarea th:text="${ansListByQuestionId.answer}" name="answer" type="text" rows="5"
                                  required></textarea>
                    </div>
                    <div>
                        <span>Правильный ответ</span>
                        <label>
                            <input type="radio" name="isTrue" value="on"
                                   th:checked="(${ansListByQuestionId.isTrue == true})">Да
                        </label>
                        <label>
                            <input type="radio" name="isTrue" value="off"
                                   th:checked="(${ansListByQuestionId.isTrue == false})">Нет
                        </label>
                    </div>
                    <input type="hidden" name="idQuestion" th:value="${ansListByQuestionId.idQuestion}">
                    <div>
                        <input type="submit" value="Изменить">
                    </div>
                </form>
                <a th:href="@{'/dashboard/deleteAnswer/'+${ansListByQuestionId.id}}">Удалить</a>
            </li>
        </ol>
    </fieldset>
</th:block>
</body>
</html>