<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link th:insert="~{components/include :: css}">
    <title>Панель управления</title>
</head>
<body>
<th:block th:insert="~{dashboard/fragments/include :: top}"></th:block>
<H1>Панель управления</H1>
<th:block th:insert="~{dashboard/fragments/include :: linksAddForms}"></th:block>
<th:block th:insert="~{dashboard/fragments/include :: mapForms}"></th:block>
<!--<th:block th:insert="~{dashboard/fragments/include :: mapElements}"></th:block>-->

<!--<td rowspan="4"></td>-->
<!--<td rowspan="4">-->
<!--    -->
<!--</td>-->
<!--<p>Добавить тест</p>-->
<!--<form method="post" action="/addForm">-->
<!--    <div>-->
<!--        <label>Имя</label>-->
<!--        <input type="text" name="name" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Описание</label>-->
<!--        <textarea name="description" type="text" rows="5" required></textarea>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label>Вопрос</label>-->
<!--        <input type="text" name="question" required>-->
<!--    </div>-->
<!--    <div class="radio">-->
<!--        <span>На время</span>-->
<!--        <label>-->
<!--            <input type="radio" name="time" value="true">Да-->
<!--        </label>-->
<!--        <label>-->
<!--            <input type="radio" name="time" value="false" checked>Нет-->
<!--        </label>-->
<!--    </div>-->
<!--    <div>-->
<!--        <input type="submit" value="Начать">-->
<!--    </div>-->
<!--</form>-->
</body>
</html>