<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link th:insert="~{components/include :: css}">
    <title>Панель управления</title>
</head>
<body>
<div class="container">
<th:block th:insert="~{dashboard/fragments/include :: top}"></th:block>
<th:block th:insert="~{dashboard/fragments/include :: mapForms}"></th:block>
</div>
</body>
</html>