<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:insert="~{components/include :: css}">
    <title>Регистрация пользователя</title>
</head>
<body>
<div th:insert="~{components/include :: top}"></div>
<form method="post" action="/addUser" >
  <div>
    <label>Введите свою Фамилию и имя</label>
    <input type="text" name="user" required>
  </div>
  <div>
    <input type="submit" value="ОК">
  </div>
</form>
</body>
</html>