<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <script src="/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <title>Добавления теста по физике</title>
</head>
<body>
<div th:insert="~{components/include :: top}"></div>
<p>Редактирование</p>
<div th:each="el : ${editQuestion}">
  <div>Наименование теста:
    <b th:text = "${el.name}"></b>
  </div>
  <div>Описание:
    <em th:text = "${el.description}"></em>
  </div>
<form method="post" th:action = "@{'/editQuestions/' + ${el.id}}">
  <div>
    <label>Вопрос</label>
    <textarea name="question" type="text" rows="5" required ></textarea>
    <input type="hidden" name="name" th:value="${el.name}">
    <input type="hidden" name="idForm" th:value="${el.id}">
    <input type="hidden" name="description" th:value="${el.description}">
    <input type="hidden" name="time" th:value="${el.isForTime}">
  </div>
  <div>
    <input type="submit" value="Добавить">
    <h2>Вопросы:</h2>
    <div th:text="${el.questionsList}"></div>
  </div>
</form>
</div>
</body>
</html>