<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link th:insert="~{components/include :: css}">
    <title>Результаты теста по математике</title>
</head>
<body>
<th:block th:insert="~{components/include :: scripts}"></th:block>
<div class="container">
    <th:block th:insert="~{components/include :: top}"></th:block>
    <div class="card mb-3">
        <div class="card-body">
            <H2 class="pb-3">Результаты теста &laquo;<th:block th:text="${form.getName()}"></th:block>&raquo; по математике</H2>
            <th:block th:if="${result == 100}"><h3 class="pb-3">Поздравляем, тест успешно пройден!</h3></th:block>
            <th:block th:if="${result != 100}"><h3 class="pb-3">В следующий раз будет лучше!</h3></th:block>
            <h3 class="pb-3">Из <th:block th:text="${getSizeQuestion}"></th:block> вопросов зачтено <th:block th:text="${countUserAnswer}"></th:block>
                (<th:block th:utext="${result}"></th:block>%)
            </h3>
        </div>
    </div>
    <th:block th:insert="~{components/include :: bottom}"></th:block>
</div>
</body>
</html>