<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <script src="/js/bootstrap.min.js"></script>-->
    <!-- Bootstrap CSS -->
    <link th:insert="~{components/include :: css}">
    <title>Тесты по математике</title>
</head>
<body>
<th:block th:insert="~{components/include :: scripts}"></th:block>
<div class="container">
<th:block th:insert="~{components/include :: top}"></th:block>
    <H3 class="pt-3">Список тестов по математике</H3><br>
    <th:block th:each="el : ${allForms}">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><th:block th:text="${el.name}"></th:block></h5>
                <!--                <div style="display: inline-block; text-align: left;">-->
                <div th:unless="${el.image.empty}" style="float: left; padding: 0 10px 10px 0;">
                    <img th:src="@{'/images/'+${el.image}}" th:alt="${el.image}"   width="100px" class="img-thumbnail">
                </div>
                <div class="card-text" th:text="${el.description}"></div>
                <!--                </div>-->
                <!--      <div> На время:-->
                <!--        <th:block th:if="${el.isForTime} == true">Да</th:block>-->
                <!--        <th:block th:if="${el.isForTime} == false">Нет</th:block>-->
                <!--      </div>-->
                <a class="card-link" th:href="@{'/takeTest/'+${el.id}}">Пройти тест</a>
            </div>
        </div>
    </th:block>
    <th:block th:insert="~{components/include :: bottom}"></th:block>
</div>
</body>
</html>