<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link th:insert="~{components/include :: css}">
    <title>Пройти тест по физике</title>
</head>
<body>
<th:block th:insert="~{components/include :: top}"></th:block>
<th:block th:each="formsById : ${formsById}">
<H1 >Пройти тест "<th:block th:text="${formsById.name}"></th:block>" по физике </H1>
    <div th:text="${formsById.description}"></div>
    <th:block th:each="countQstId : ${countQstId}">
        <div th:text="${countQstId.question}"></div>
    </th:block>
    <form>
        <div>
            <input type="submit" value="Далее">
        </div>
    </form>
</th:block>
</body>
</html>