<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link th:insert="~{components/include :: css}">
    <title>Пройти тест по физике</title>
</head>
<body>
<th:block th:insert="~{components/include :: top}"></th:block>
<th:block th:each="formsById : ${formsById}">
    <H1>Пройти тест "
        <th:block th:text="${formsById.name}"></th:block>
        " по физике
    </H1>
    <form method="post" th:action="@{'/endTakeTest/'+${formsById.id}}">
        <div th:text="${formsById.description}"></div>
        <H5>Вопросы</H5>
        <ol th:unless="${questionsByFormId.empty}">
            <th:block th:each="questionsByFormId : ${questionsByFormId}">
                <li>
                    <th:block th:text="${questionsByFormId.question}"></th:block>
                    <div>Выберите правильный ответ (ответов может быть несколько).</div>
                    <ol>
                        <th:block th:each="answersByFormId : ${answersByFormId}">
                            <th:block th:if="${#strings.equals(answersByFormId.idQuestion, questionsByFormId.id)}">
                                <li><input type="checkbox" th:name="answer"
                                           th:value="${answersByFormId.id}">
                                    <th:block th:text="${answersByFormId.answer}"></th:block>
                                </li>
                            </th:block>
                        </th:block>
                    </ol>
                </li>
            </th:block>
        </ol>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input type="submit" value="Завершить тест">
    </form>
</th:block>
</body>
</html>