<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
<!--    <script src="/js/bootstrap.min.js"></script>-->
    <!-- Bootstrap CSS -->
    <link th:insert="~{components/include :: css}">
    <title>Пройти тест по математике</title>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div class="container">
    <th:block th:insert="~{components/include :: top}"></th:block>
    <div class="card mb-4" style="width: 60rem;">
        <div class="card-body">
            <th:block th:each="formsById : ${formsById}">
                <H3 class="card-title">Пройти тест "<th:block th:text="${formsById.name}"></th:block>" по математике</H3>
                <div style="width: 57rem; display: flex; justify-content: left;">
                <div class="mb-4" style="width: 300px; text-align:justify;">
                <th:block th:unless="${formsById.image.empty}">
                    <img th:src="@{'/images/'+${formsById.image}}" th:alt="${formsById.image}" width="300px" class="mt-3 mb-2 rounded float-left">
                </th:block>
                <div class="card-text" th:text="${formsById.description}"></div>
                </div>
                </div>
                <H5>Вопросы</H5>
                <form method="post" th:action="@{'/endTakeTest/'+${formsById.id}}">
                    <ol th:unless="${questionsByFormId.empty}">
                        <th:block th:each="questionsByFormId : ${questionsByFormId}">
                            <li>
                                <b>
                                    <th:block th:text="${questionsByFormId.question}"></th:block>
                                </b>
                                <div th:unless="${questionsByFormId.image.empty}" class="align-middle pt-3" style="float: right; width: 200px; height: 200px;">
                                  <img th:src="@{'/images/'+${questionsByFormId.image}}" th:alt="${questionsByFormId.image}"  height="156px" class="rounded float-right">
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#imageModal">
                                    Launch demo modal
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
<!--                                                <h5 class="modal-title" id="exampleModalLabel" th:text="${questionsByFormId.question}"></h5>-->
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                <a data-toggle="modal" data-target="#imageModal" href="#imageModal" ><img th:src="@{'/images/'+${questionsByFormId.image}}" th:alt="${questionsByFormId.image}"  height="700px" class="float-xl-none"></a>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>Выберите правильный ответ (ответов может быть несколько).</div>
                                <ol>
                                    <th:block th:each="answersByFormId : ${answersByFormId}">
                                        <th:block  th:if="${#strings.equals(answersByFormId.idQuestion, questionsByFormId.id)}">
                                            <li><input class="form-check-input" type="checkbox" th:name="answer" th:value="${answersByFormId.id}">
                                                <th:block th:text="${answersByFormId.answer}"></th:block>  |
                                                <th:block th:text="${answersByFormId.id}"></th:block>
                                            </li>
                                        </th:block>
                                    </th:block>
                                </ol>
                            </li>
                        </th:block>
                    </ol>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-primary">Завершить тест</button>
                </form>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>